@import '../styles.scss';

.main{
  color: white;

  h1{
    font-size: 3rem;
    width: fit-content;
    margin:1rem 0;
  }
  p{
    // font-family: "Satisfy", cursive;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  h1:hover{
    background: #fa3c3c;
    background-image: url('../assets/images/noise-light.png');
  }
}
nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 80px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Ensure content starts from the top */
}
footer {

  padding: 10px 0;
  flex-shrink: 0;
  /* Prevent the footer from shrinking */
}

@media screen and (max-width:480px) {
  .wrapper{
    padding:20px 20px !important;
  }
  .theme-toggle-btn{
    font-size: 16px !important;
  }
  .music-toggle-btn{
    font-size: 16px !important;
  }
}
@media screen and (max-width:720px) {
  .wrapper {
    padding: 20px 20px !important;
  }
}

.play {
  position: relative;
}

.play:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;

  -webkit-transform: rotate(351deg);
  -moz-transform: rotate(351deg);
  -ms-transform: rotate(351deg);
  -o-transform: rotate(351deg);
  transform: rotate(351deg);
}
