@import '../styles.scss';

.main{
  color: white;
  font-family: 'Inter';
  padding: 20px 80px;
  h1{
    font-size: 3rem;
    width: fit-content;
  }
  p{
    // font-family: "Satisfy", cursive;
    font-size: 2rem;
    font-weight: 600;
  }
  h1:hover{
    background: #fa3c3c;
    background-image: url('../assets/images/noise-light.png');
  }
}
nav{
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:480px) {
  .main{
    padding:20px 20px !important;
  }
  .theme-toggle-btn{
    font-size: 16px !important;
  }
}
@media screen and (max-width:720px) {
  .main {
    padding: 20px 20px !important;
  }
}
