/* You can add global styles to this file, and also import other style files */
body {
  --background-color: #003cff;
  --text-color: #ffffff;
  background-image: url('./assets/images/noise-light.png');
}

body.light {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark theme */
body.dark {
  --background-color: #03092f;
  --text-color: #ffffff;
  background-color: var(--background-color);
  color: var(--text-color);
}
.theme-toggle-btn{
    font-size: 24px !important;
    font-weight: 200 !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.theme-toggle-btn:hover{
    background-color: #fa3c3c !important;
    background-image: url('./assets/images/noise-light.png') !important;
}
